html,body{
    margin:0;
    width:100%;
}
.main-container{
    width:100%;
    height:100%;
    position:relative;
}

.background-img{
    width:100%;
    height:auto;

}
h1{
    width:100%;
    margin-top: 15%;
    position: absolute;
    font-size: 5vw;
    text-align: center;
    color: lightblue;
    font-family: monospace;
    letter-spacing:7px;
}

#clock{
    width:100%;
    position:absolute;
    font-size:5vw;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin: 25%;
}